# API Links
IWI_API = "https://www.iwi.hs-karlsruhe.de/iwii/REST/credential/v2/info"
NEXTCLOUD_API = "https://domainnameOfNextcloud/ocs/v1.php/cloud"
NEXTCLOUD_API_USER = "insert_admin"
NEXTCLOUD_API_PW = "PW_of_Insert_Admin"
NEXTCLOUD_API_HEADER = {'OCS-APIRequest': 'true', 'Content-Type': 'application/x-www-form-urlencoded'}
NEXTCLOUD_STD_GROUPS = "default_group"
HOSTNAME = "https://domainWhereTheScript.WillRun"
